.shoe {
    display: flex;
    align-items: center;
    background-color: beige;
    border: black solid 1px;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.shoe:hover {
    background: rgb(211, 209, 194);
    background: -moz-linear-gradient(top, rgba(211, 209, 194, 1) 0%, rgba(183, 173, 112, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(211, 209, 194, 1) 0%, rgba(183, 173, 112, 1) 100%);
    background: linear-gradient(to bottom, rgba(211, 209, 194, 1) 0%, rgba(183, 173, 112, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d3d1c2', endColorstr='#b7ad70', GradientType=0);
}

.shoe-img>img {
    width: 5vw;
    height: 5vw;
    margin: 0.2vw;
}

.shoe-details-img>img {
    height: 50vw;
    margin: 0.2vw;
}

#shoe-details-window {
    position: fixed;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
    display: none;
    background-color: rgba(183, 173, 112, 0.8);
    border: 3px outset rgb(78, 60, 12);
    border-radius: 5px;
}

#shoe-details-close {
    position: absolute;
    right: 0.5vw;
    top: 0.5vh;
    background-color: red;
    border-radius: 4px;
    color: white;
    padding: 0.2vw;
    cursor: pointer;
    font-family: sans-serif;
}

#shoe-details-close:hover {
    color: black;
}

#main-nav ul>li.active {
    font-weight: bold;
}